body {
  font-family: 'Rubik','Verdana',sans-serif;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
.namanganliklar-title__logo {
  background-color: #fff;
  object-fit: contain;
}
.namanganliklar-title__valuta {
  display: flex;
  justify-content: space-between;
}
.namanganliklar-title__valuta-right-side {
  width: 295px;
  display: flex;
  justify-content: space-between;
}
.search-btn {
  width: 38px;
  height: 40px;
}
.namanganliklar-title__valuta-left-side {
  width: 590px;
  display: flex;
  justify-content: space-between;
}
.valutalar {
  display: flex;
  list-style-type: none;
}
.valuta span {
  color:#1E96C8;
  font-weight: bold;
}
.valuta {
  color:#aaa;
}
.language-btn {
  display: flex;
  align-items: center;
  background-color: #fff;
}
.search-btn {
  background-color: #fff;
}
/* .site-language {

  display: flex;
} */
.follow-us__btn {
  background-color: #1E96C8;
  color: #fff;
}

.navigation-lists {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.navigation a {
  text-decoration: none;
  color: #515151;
}

.statistica {
  display: flex;
  justify-content: space-around;
}

.statistic-text {
  color: #DB0000;
}
.redish {
  color: #05B135;
}
.blackish {
  color: #000;
}

.put-on__notification {
  display: flex;
  justify-content: space-between;
  background: rgba(239, 186, 84, 0.18);
}
.politic__up-side {
  display: flex;
  justify-content: space-between;
}
.politic__down-side {
  display: flex;
  justify-content: space-between;
}
.politic-news__title {
  width: 518px;
}
.politic__info {
  width: 383px;
  font-weight: bold;
}
.date-time__politic {
  color: #6B6D97;
}
.put-on__text {
  font-weight: bold;
}
.notify-btn {
  background-color: #FF8B36;
}
.last-news__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.last-news__sides-card {
  width: 783px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.last-news__right-link {
  text-decoration: none;
  font-weight: bold;
  color: #000;
}
.last-news__content {
  color: #434343;
}
.hot-news__right-side {
  width: 387px;
}
.card-p {
  color: #7688A4;
}


.hot-news__block {
  background-color: #F6F6F9;
}
.hot-news__title{
  font-weight: bold;
}
.block-date {
  color: #7688A4;
}
.more-news {
  text-decoration: none;
  color: #fff;
  background-color: #295093;
}

.reklama-title {
  color: #295093;
}
.subscribe-text {
  color: #fff;
  width: 733px;
}
.reklama-text {
  color: #333333;
}
.site-footer {
  background-color: #295093;
}
.up-left {
  background-color: #133C82;
}
.tg-block {
  width: 845px;
  display: flex;
}
.tg-icon {
  background-color: #fff;
}
.subscribe {
  display: inline-block;
  background-color: #fff;
  color: #295093;
}
.abaut-site {
  color: #fff;
}
.footer-long-text {
  color: #fff;
}
.information {
  list-style: none;
}
.information a {
  text-decoration: none;
  color: #fff;
}

.reklama-namangan24 {
  display: flex;
  justify-content: space-around;
}
.google-play,
.app-store {
  object-fit: contain;
}
.footer-up {
  display: flex;
  justify-content: space-between;
}
.footer-down {
  display: flex;
  justify-content: space-between;
}
.footer-block {
  width: 360px;
}


/* rubik 500 400
   

*/